@import 'posts.scss';
@import 'sb-widgets.scss';
@import 'footer.scss';

* {
  margin: 0;
  padding: 0;
}

.placeholder {
  background: #444;
  opacity: 0.1;
  color: transparent;
  animation: fading 1.5s infinite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@keyframes fading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 700;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  color: #8c8c8c;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1176px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* buttons */

.site-btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 164px;
  padding: 21px 47px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #10ddb4;
  color: #161616;
  line-height: 1;
  cursor: pointer;
  text-align: center;
}

.site-btn.placeholder {
  color: transparent;
}

.site-btn:hover {
  color: #242424;
}

.site-btn.placeholder:hover {
  color: transparent;
}

.site-btn.sb-color {
  background: #ff1f56;
  color: #fff;
}

.site-btn.sb-color:hover {
  color: #fff;
}
